/* PAGE RULES and ELEMENTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
}


/* MAIN SECTION */
.ms-big-box {
    margin-bottom: 20px;


    height: 500px;
    background-color: aquamarine;
    width: 100%;
}

.ms-small-box {
    margin-bottom: 20px;

    height: 400px;
    background-color: aqua;
    width: 100%;
}